<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <head>
        <script type="text/javascript" src="{{ url_for('static', filename = 'script.js') }}"></script>
    </head>
</head>

<body>
    <div class="bd-example" align="middle">
        <textarea name="resultsText" id=resultsText rows="15" cols="80"></textarea>
        <p>
            <button onclick="activation()">activation</button>
            <button onclick="zeroGradient()">zero gradient</button>
            <button onclick="backward()">backward</button>
            <button onclick="updateParams()">update params</button>
            <button onclick="resetModel()">reset model</button>

        </p>

        <img id="nn" src="{{url_for('static', filename='start.svg')}}" />

    </div>
</body>

</html>