[Unit]
Description=noteKeeper: database connector
Documentation=https://github.com/atmelino
After=network.target

[Service]
Type=simple
User=atmelino
WorkingDirectory=/home/atmelino/github/learn/deno/projects/noteKeeper 
ExecStart=/usr/local/bin/deno run --allow-net --allow-env --allow-read request_server_oak.ts

Restart=on-failure

[Install]
WantedBy=multi-user.target

